* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 42, 42);
  --secondary-color: rgb(21,17,240);
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

h1, h2{
  font-family: 'Familjen Grotesk', sans-serif;
}
 
nav {
 border: 1px solid;
 padding: 0.3rem;
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

nav:hover{
  color: var(--primary-color);
}

.navigation-button:hover{
  font-style: italic;
  color: var(--primary-color);
}

a {
  text-decoration-line: none;
  color: black;
}

p {
  border: 1px solid;
  padding: 1rem;
}

.buttons {
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid;
}

.buttons:hover{
  color: var(--primary-color);
}

.contact-field__button:hover{
  color: var(--primary-color);
  font-style: italic;
}

.skill-field {
display: flex;

}

.skill-field {
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.preview-image{
   width: 100%;
}

.portrait-photo{
  width: 100%;
}